html, body {
    margin: 0;
    padding: 0;
}

body {
	background-color: #EEEEEE; 
	display: flex;
	flex-flow: column;
}

nav {
	display: flex;
	justify-content: flex-end;
	background-color: #DD2C00;
	color: white;
	left:0;
	right: 0;
	top: 0;
	width: 100vw;
	height: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav_container {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	right: 5vw;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 3vh;
    line-height: 10vh;
}

#main_container {
	background-color: white; 
	margin: 5% 6% 5% 5%;
	top:100vh;
	min-height:75vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer p {
	color: white;
	margin: 1.5vh;
}

footer {
	background-color: #424242;
	text-align: right;
	height: 10vh;
	margin: -5% 6% 0% 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0.2vh 1vw;
}

h1 {
	font-size: 6vh;
	text-align: center;
}

h2 {
	font-size: 5vh;
	text-align: center;
}

h3 {
	font-size: 3vh;
	text-align: center;
}

#spacer {
	height: 3vh;
	width: 100%;
}